<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" >
        <mat-nav-list>
            <mat-list-item>
                <mat-icon >
                    home
                </mat-icon>
            </mat-list-item>
            <mat-list-item>
                <app-cadastrar></app-cadastrar>
            </mat-list-item>
            <mat-list-item>
             <app-consultar></app-consultar>
            </mat-list-item>
        </mat-nav-list>            
    </mat-sidenav>    
    <mat-sidenav-content>
     <router-outlet>
        
     </router-outlet>
    </mat-sidenav-content>
